
/* // Medium devices (tablets, less than 992px) */
 @media (max-width: 991.98px) {
    .container {
        /* max-width: 100%; */
    }
     .header-top-area li a {
         font-size: 12px;
    }
     .header-info-box ul {
         text-align: right;
    }
     .categoriesContent {
         margin-bottom: 30px;
    }
     .categoriesContent:nth-child(3) {
         margin: 0;
    }
     .categoriesContent:nth-child(4) {
         margin: 0;
    }
     .categoriesContent {
         margin-bottom: 30px;
    }
     .categoriesContent:nth-child(3) {
         margin: 0;
    }
     .categoriesContent:nth-child(4) {
         margin: 0;
    }
     #ourservice .service-icon {
         width: 25px;
         height: 25px;
    }
     .single-service i.fa {
         padding: 8px;
    }
     .single-service h4 {
         font-size: 16px;
         margin-right: -20px;
    }
     #bestOffer button.owl-next {
         right: -20;
    }
     #bestOffer button.owl-prev {
         left: -20px;
    }
     #bestOffer button.owl-next {
         right: -20;
    }
     #bestOffer button.owl-prev {
         left: -20px;
    }
     div#testmonial-Slider button.owl-next {
         right: -30px;
    }
     div#testmonial-Slider .owl-nav button {
         border: none;
         color: #ffffff;
    }
     #testmonial-Slider button.owl-prev {
         left: -30px;
    }
     li.menu-toggle {
         border: 1px solid #f5f1f1;
         float: left;
    }
     .main-menu {
         display: block;
         position: absolute;
         min-width: 150px;
         background: #000;
         z-index: 911;
         height: 100%;
         text-align: left;
         transition: 0.3s all ease;
    }
     .main-menu ul li {
         display: block;
         border-bottom: 1px solid;
         padding: 10px 0px;
         background: #000;
    }
     .main-menu ul li a {
         color: #fff;
         font-size: 24px;
    }
     .navigation-area {
         padding-bottom: 10px;
    }
     .main-menu {
         display: none;
    }
     #main-menu i.fa.fa-close {
         font-size: 34px;
         z-index: 99999;
         text-align: right;
         display: block;
         cursor: pointer;
    }
    .toggle-menu li {
        cursor: pointer;
        color: #000;
        border: none;
    }
     .menu-toggle:before {
         content: '\f0c9';
         font-family: fontAwesome;
         line-height: 70px;
         font-size: 34px;
         display: block;
         text-align: center;
    }
    .header-info-box li:first-child{
        border: none;
    }
    .search{
        width: 100%;
    }
    .header-top-area ul {
        text-align: left;
    }
    
    
    .navigation-area img {
        max-width: 200px;
        padding: 0;
        margin: 0;
    }
}


@media (max-width: 1199.98px) { 
    .header-info-box li a {
        padding:3%;
        font-size: 14px;
        display: block;
    }
    .header-info-box li a .fa{
        /* font-size: 100%; */
    }
    .search{
        width:75%;
    }
 }
