/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500,700&display=swap');

/*======= Reset Css=======*/
ul {
    margin: 0;
    padding: 0;
}

ol,
ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none !important;
}

body {
    line-height: 1.71428571;

}

.section-padding{
	padding: 70px 0px;
}
.content-top-space{
	margin-top: 30px;
}

.section-tittle h3 {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #212529;
    font-size: 24px;
}

/*main*/


.header-top-area li {
    padding: 0;
    display: inline-block;
    border-right: 1px solid #f5f1f1;
}

.header-top-area li a {
    display: inline-block;
    color: #424242;
    padding: 5px 10px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.header-top-area ul li:first-child {
    border-left: 1px solid #f5f1f1;
}

.header-top-area {
    border-top: 1px solid #f5f1f1;
    border-bottom: 1px solid #f5f1f1;
}

.header-top-area li a .fa {
    margin-right: 5px;
    font-size: 14px;
    color: #424242;
}

.navigation-area a.logo {
    color: red;
    font-size: 38px;
    font-style: italic;
    font-weight: 700;
}

.navigation-area a.logo .fa {
    font-size: 45px;
}

.search {
    width: 75%;
    position: relative;
    display: flex;
    padding-top: 20px;
    margin: 0 auto;
}

.searchTerm {
    width: 100%;
    border: 1px solid #434445;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #434445;
}

.searchTerm:focus {
    color: #434445;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #434445;
    background: #434445;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.header-info-box ul {
    padding: 0;
    margin: 0;
    text-align: right;
}

.header-info-box li {
    padding: 0;
    display: inline-block;
    background: #fff;
    border-right: 1px solid #f5f1f1;
}

.header-info-box li a {
    display: block;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 18px 10px;
}

.header-info-box li a .fa {
    display: block;
    text-align: center;
    font-size: 18px;
}

.navigation-area img {
    padding-top: 10px;
}

.header-info-box li:first-child {
    border-left: 1px solid #f5f1f1;
}

.navigation-area {
    border-bottom: 1px solid #f5f1f1;
}

.main-menu li {
    display: inline-block;
}

#main-menu i.fa.fa-close{
    display: none;
}

.main-menu {
    text-align: center;
    border-bottom: 1px solid #f5f1f1;
    padding: 8px;
}

.main-menu ul li a {
    color: #434445;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 45px;
}

.main-menu ul li {
    position: relative;
}


ul.menu-dropdown {
    display: none;
    position: absolute;
    background-color: #efefef;
    min-width: 150px;
    z-index: 99;
    margin-top: 8px;
}

.main-menu ul li:hover .menu-dropdown {
    display: block;
    transition: 0.6s all ease;
}

ul.menu-dropdown li {
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 10px 0px;
}

/*Slider*/
#homeSliderSection{
	margin-top: 20px;
}
#homeSliderSection .slider-content-bg-1{
	background-image: url("../img/Banner_BG/bannerBG1.png");
	background-size: cover;
	background-position: center;
	/*background-color: #dddd;*/
}
#homeSliderSection .slider-content-bg-2{
	background-image: url("../img/Banner_BG/bannerBG2.png");
	background-size: cover;
	background-position: center;
	/*background: #dddd;*/
}
#homeSliderSection .slider-content-bg-3{
	background-image: url("../img/Banner_BG/bannerBG3.png");
	background-size: cover;
	background-position: center;
	/*background: #dddd;*/
}

.slider-item {
	min-height: 550px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider-content {
    text-align: center;
}

.slider-content h2 {
    font-size: 44px;
    font-weight: 700;
}

.slider-content h2 span {
    color: #e72025;
}

.slider-content p {
    color: #000;
    font-weight: 300;
    font-size: 14px;
}

.slider-content a.btn-boxed {
    background: #e72025;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 40px;
}


.slider-item {
    position: relative;
    z-index: 2;
}

.slider-item:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.1;
    z-index: -1;
}

.owl-nav button {
    color: #000;
    font-size: 30px;
}

.owl-nav button {
    font-size: 40px;
    background: red;
}

button.owl-next {}

section#homeSliderSection 
 .owl-nav button {
    color: #000;
    font-size: 70px;
}

section#homeSliderSection .owl-nav button.owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transition: 0.3s all ease;
    opacity:0;
}

section#homeSliderSection .owl-nav button.owl-next {
    position: absolute;
    right: 0px;
    top: 50%;
    transition: 0.3s all ease;
    opacity:0;
}

section#homeSliderSection:hover .owl-nav button.owl-next {
    right: 60px;
    opacity:1;

}

section#homeSliderSection:hover .owl-nav button.owl-prev {
    left: 60px;
    opacity:1;

}


/*categoriesSection*/
#categoriesSection{
	background: #e6f1f5;
}
#categoriesSection .C-bg-1{
	background-image: url("../img/product/1.jpg");
	background-position: center;
	background-size: cover;
	background-color: #dddd;
}
#categoriesSection .C-bg-2{
	background-image: url("../img/product/2.jpg");
	background-position: center;
	background-size: cover;
	background-color: #dddd;
}
#categoriesSection .C-bg-3{
	background-image: url("../img/product/3.jpg");
	background-position: center;
	background-size: cover;
	background-color: #dddd;
}
#categoriesSection .C-bg-4{
	background-image: url("../img/product/3.jpg");
	background-position: center;
	background-size: cover;
	background-color: #dddd;
}

#categoriesSection .pi-bg-1{
	background-image: url("../img/product/1.jpg");
	background-position: center;
	background-size: cover;
	background-color: #dddd;
}
#categoriesSection .pi-bg-2{
	background-image: url("../img/product/2.jpg");
	background-position: center;
	background-size: cover;
	background-color: #dddd;
}
#categoriesSection .pi-bg-3{
	background-image: url("../img/product/3.jpg");
	background-position: center;
	background-size: cover;
	background-color: #dddd;
}
#categoriesSection .pi-bg-4{
	background-image: url("../img/product/3.jpg");
	background-position: center;
	background-size: cover;
	background-color: #dddd;
}





.categoriesContent {
	position: relative;
}
.C-bg-1,.C-bg-2,.C-bg-3,.C-bg-4{
	min-height: 250px;
}

.product-info {
    /*position: absolute;
    bottom: 0;
    left: 0;*/
    text-align: center;
    background: #ddd;
    padding: 10px 5px;
    position: relative;
    z-index: 2;
}

.product-info h4 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: #e9e8e8;
}

.product-info p {
    color: #d5d5d5;
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
}

.product-info a {
    color: #eb1e25;
    background: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 20px;
    transition: 0.3s all ease;
}
.product-info a:hover {
    background: #eb1e25;
    color: #fff;
}
.product-info:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    left: 0;
    top: 0;
    opacity: 0.7;
    z-index: -1;
}

/*Services*/



@media (min-width: 768px){
 #ourservice .col-md-1  {
   flex: none;
   max-width: 14.285714285714285714285714285714%;
  }
}

@media (min-width: 992px) {
   #ourservice .col-md-1  {
  		flex: none;
    	max-width: 14.285714285714285714285714285714%;

  }
}

@media (min-width: 1200px) {
  #ourservice .col-md-1  {
   width: 14.285714285714285714285714285714%;

  }
}
.service-icon{
	transform: rotate(45deg);
    margin-bottom: 40px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    
}
.single-service i.fa {
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding: 16px;
    
}
.single-service {
    text-align: center;
}

.single-service h4 {
    color: #434445;
    font-weight: 300;
    font-size: 20px;
    border-right: 1px solid #ddd;
    text-align: center;
    margin-top: 40px;
}




#ourservice .col-md-1:nth-child(1) .service-icon i.fa {
    background: #97005d;
}
#ourservice .col-md-1:nth-child(2) .service-icon i.fa {
    background: #f7991b;
}
#ourservice .col-md-1:nth-child(3) .service-icon i.fa {
    background: #4996c2;
}
#ourservice .col-md-1:nth-child(4) .service-icon i.fa {
    background: #00539e;
}
#ourservice .col-md-1:nth-child(5) .service-icon i.fa {
    background: #98015b;
}
#ourservice .col-md-1:nth-child(6) .service-icon i.fa {
    background: #4996c2;
}
#ourservice .col-md-1:nth-child(7) .service-icon i.fa {
    background: #0154a2;
}



/*Hot Dal Slider*/
#bestOffer{
	background: #ece9f2;
}
#bestOffer .hotDeal-slider-bg-1 {
	background-image: url('../img/product/m1.jpg');
	background-size: cover;
	background-position: center;
	background-color: #dddd;
}#bestOffer .hotDeal-slider-bg-2 {
	background-image: url('../img/product/m2.jpg');
	background-size: cover;
	background-position: center;
	background-color: #dddd;
}#bestOffer .hotDeal-slider-bg-3 {
	background-image: url('../img/product/m3.jpg');
	background-size: cover;
	background-position: center;
	background-color: #dddd;
}#bestOffer .hotDeal-slider-bg-4 {
	background-image: url('../img/product/m4.jpg');
	background-size: cover;
	background-position: center;
	background-color: #dddd;
}#bestOffer .hotDeal-slider-bg-5 {
	background-image: url('../img/product/m5.jpg');
	background-size: cover;
	background-position: center;
	background-color: #dddd;
}#bestOffer .hotDeal-slider-bg-6 {
	background-image: url('../img/product/m6.jpg');
	background-size: cover;
	background-position: center;
	background-color: #dddd;
}#bestOffer .hotDeal-slider-bg-7 {
	background-image: url('../img/product/m7.jpg');
	background-size: cover;
	background-position: center;
	background-color: #dddd;
}#bestOffer .hotDeal-slider-bg-8 {
	background-image: url('../img/product/m8.jpg');
	background-size: cover;
	background-position: center;
	background-color: #dddd;
}
.hotDeal-slider-bg-1,
.hotDeal-slider-bg-2,
.hotDeal-slider-bg-3,
.hotDeal-slider-bg-4,
.hotDeal-slider-bg-5,
.hotDeal-slider-bg-6,
.hotDeal-slider-bg-7,
.hotDeal-slider-bg-8{
	min-height: 250px;
}

#hotdealSlider {
    background: #fff;
}

.hotdeal-content {
    background: #fff;
    padding: 20px 10px;
    border-top: 1px solid #ddd;
    text-align: center;
    color: #434445;
}

.hotdeal-content span {
    font-size: 10px;
    letter-spacing: 2px;
}

.hotdeal-content h4 {
    font-size: 16px;
    font-weight: 400;
    margin: 6px 0px;
}

.hotdeal-content .price {
    color: red;
    font-size: 16px;
    font-weight: 500;
}

.hotdeal-content a.hotdeal-btn-boxed {
    display: inline-block;
    background: #f5f5f5;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-weight: 500;
    padding: 6px 10px;
    border-radius: 50px;
    font-size: 11px;
}

.hotdeal-content a.hotdeal-btn-boxed .fa {
    margin: 5px;
}

.hotdeal-content a.hotdeal-btn-boxed:hover {
    background: #000;
    color: #fff;
    transition: 0.3s all ease;
}

#bestOffer .owl-nav button {
    height: 40px;
    width: 40px;
    background: #f5f5f5;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}


#bestOffer button.owl-prev {
    position: absolute;
    left: -50px;
    top: 50%;
}

#bestOffer button.owl-next {
    position: absolute;
    right: -50px;
    top: 50%;
}

#bestOffer button.owl-prev span {
}


#bestOffer .owl-dots button {
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid #e72025;
    margin-left: 5px;
    border-radius: 50%;
}

#bestOffer .owl-dots {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    bottom: 0;
    margin-bottom: -40px;
}


#bestOffer .owl-dots button.active {
    background: #e72025;
}

/*proposolSection*/
#proposolSection{
	background-image: url('../img/Banner_BG/bannerBG2.png');
	background-position: center;
	background-size: cover;
	text-align: center;
	position: relative;
	z-index: 2;
}
#proposolSection:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    left: 0;
    top: 0;
    opacity: 0.6;
    z-index: -1;
}
.proposol-content {
	z-index: 2;
}








.proposol-content a {
    color: #fff;
    background: red;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 70px;
    border-radius: 50px;
    display: inline-block;
    margin-bottom: 40px;
}


.proposol-content li {
    display: inline-block;
}

.proposol-content li i.fa {
    height: 50px;
    width: 50px;
   
    line-height: 50px;
    text-align: center;
    transform: rotate(45deg);
    margin: 30px;
    color: #fff;
    font-size: 28px;
}

span {}

.proposol-content li span {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    display: block;
}


.proposol-content li:nth-child(1) i.fa {
    background: #93025d;
}

.proposol-content li:nth-child(2) i.fa {
    background: #f89a16;
}

.proposol-content li:nth-child(3) i.fa {
    background: #4996c2;
}


/*testmonial-Slider*/
#testmonial-Slider .testmonial-img-1{
	background-image: url('../img/men.jpg');
	background-position: center;
	background-size: cover;
	border-radius: 50%;
    height: 80px;
    width: 80px;
    display: inline-block;
    margin-bottom: -20px;
}
#testmonial-Slider .testmonial-img-2{
	background-image: url('../img/men.jpg');
	background-position: center;
	background-size: cover;
	border-radius: 50%;
    height: 80px;
    width: 80px;
    display: inline-block;
    margin-bottom: -20px;
}
#testmonial-Slider .testmonial-img-3{
	background-image: url('../img/men.jpg');
	background-position: center;
	background-size: cover;
	border-radius: 50%;
    height: 80px;
    width: 80px;
    display: inline-block;
    margin-bottom: -20px;
}
#testmonial-Slider .testmonial-img-4{
	background-image: url('../img/men.jpg');
	background-position: center;
	background-size: cover;
	border-radius: 50%;
    height: 80px;
    width: 80px;
    display: inline-block;
    margin-bottom: -20px;
}
#testmonial-Slider .testmonial-img-5{
	background-image: url('../img/men.jpg');
	background-position: center;
	background-size: cover;
	border-radius: 50%;
    height: 80px;
    width: 80px;
    display: inline-block;
    margin-bottom: -20px;
}
#testmonial-Slider .testmonial-img-6{
	background-image: url('../img/men.jpg');
	background-position: center;
	background-size: cover;
	border-radius: 50%;
    height: 80px;
    width: 80px;
    display: inline-block;
    margin-bottom: -20px;
}



div#testmonial-Section {
    position: relative;
    z-index: 2;
}

div#testmonial-Section:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #2a85b1;
    opacity: 0.8;
    z-index: -1;
}

.testmonial-slider-item {
    color: #434445;
    background: #fff;
    padding: 24px;
    line-height: 22px;
    text-align: left;
}

.testmonial-slider-item p {
    text-align: justify;
}

.testmonial-slider-item h4 {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    /*margin-bottom: 0px;*/
     margin-left: 20px;
}

.testmonial-slider-item h4 span {
    font-size: 14px;
    display: block;
    font-weight: 400;
   
}

.testmonial-slider-item i.fa {
    color: #969798;
    font-size: 12px;
    margin: 5px;
}
.section-tittle h3 {
    color: #fff;
}




div#testmonial-Slider .owl-nav button {
    color: #fff;
    font-size: 22px;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
}

div#testmonial-Slider button.owl-prev {
    position: absolute;
    left: -50px;
    top: 50%;
}

div#testmonial-Slider button.owl-next {
    right: -50px;
    position: absolute;
    top: 50%;
}









footer {
    background: #3c3c3c;
}

footer, footer a {
    color: #fff;
}

footer i.fa {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 24px;
    background: #2b75a7;
    text-align: center;
    border-radius: 50%;
}

.footerBox h4 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.footerBox a {
    display: block;
    font-size: 14px;
    text-transform: capitalize;
}

.footerBox p {
    margin: 0;
    padding: 0;
    line-height: 21px;
    padding-bottom: 20px;
    font-size: 14px;
}


.social-icons a {
    display: inline-block;
}

.bottom-are {
    background: #000;
    color: #fff;
    text-align: center;
}

.bottom-are p {
    padding: 10px;
}


.social-icons a {
    display: inline-block;
}

.bottom-are {
    background: #000;
    color: #fff;
    text-align: center;
}

.bottom-are p {
    padding: 10px;
}

#ourservice .section-tittle h3 {
    color: #000;
}

h3 {}

.container {}

section#bestOffer .section-tittle h3 {
    color: #000;
}

footer i.fa:hover {
    background: #fff;
    color: #2b75a7;
    transition: 0.3s all ease;
}

section#categoriesSection .section-tittle h3 {
    color: #000;
}








#testmonial-Slider .owl-dots button {
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid #fff;
    margin-left: 5px;
    border-radius: 50%;
}

#testmonial-Slider .owl-dots {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    bottom: 0;
    margin-bottom: -50px;
}


#testmonial-Slider .owl-dots button.active {
    background: #ffff;
}